{% extends 'layout.html' %}
{%block content%}
<center>
  <title>Home Page</title>

  </head>
  <script src="https://npmcdn.com/github-profile-widget@1.3.0/github-profile-widget.js"></script> 
  <body style="background-color: #171b1e;">
    <br>
    <br>
    <div class="jumbotron" style="background-color: #171b1e;">
        <h3 class="display-4" style="color:white;"> JayJay8182.tk</h3>
        <p class="lead" style="color:white;"> I made this website to learn web development</p>
        <br>
        <button type="button" class="btn btn-primary" href="{{url_for('Projects')}}">Projects</button>
        <br>
    </div>
    <div class="jumbotron my-auto">
      <div class="container-sm">
          <div class="col">
            <div class="card" style="width: 21.7rem;">
              <github-profile-widget username="jayjay8182"></github-profile-widget>
              <br>
            </div>
            <br>
          </div>
          <br>
            <br>
          </div>
          <br>
      </div>
    </div>
  </div>
  </body>
</center>
{% endblock%}
