{% extends 'layout.html' %}
{%block content%}
<center>
  <title>Home Page</title>

  </head>
  <script src="https://npmcdn.com/github-profile-widget@1.3.0/github-profile-widget.js"></script> 
  <body style="background-color: #171b1e;">
    <br>
    <br>
    <div class="jumbotron" style="background-color: #171b1e;">
        <h3 class="display-4" style="color:white;"> JayJay8182.tk</h3>
        <p class="lead" style="color:white;"> I made this website to learn web development</p>
        <br>
        <button type="button" class="btn btn-primary" href="{{url_for('Projects')}}">Projects</button>
        <br>
    </div>
    <div class="jumbotron my-auto">
      <div class="container-sm">
        <div class="row align-items-center row justify-content-evenly">
          <div class="col">
            <div class="card" style="width: 21rem">
            <iframe width="333" height="215" src="https://www.youtube.com/embed/aV1OpPNFZ0k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="card-body">
                <p class="card-text">Checkout My YouTube</p>
                <br>
                <a href="https://www.youtube.com/channel/UCm5jnesu0niTyRIM4B8m2-g" class="btn btn-primary">Here</a>
              </div>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="card" style="width: 21.7rem;">
              <github-profile-widget username="jayjay8182"></github-profile-widget>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="card" style="width: 22.75rem">
              <div id="twitch-embed"></div>
              <script src="https://player.twitch.tv/js/embed/v1.js"></script>
              <script type="text/javascript">
                new Twitch.Player("twitch-embed", {
                  channel: "jayjay8182",
                  width: "360",
                  height: "215"
                });
              </script>
              <div class="card-body">
                <p class="card-text">I Stream on Twitch Occasionally</p>
                <br>
                <a href="https://www.twitch.tv/jayjay8182" class="btn btn-primary">Here</a>
              </div>
            </div>
          </div>
          <br>
      </div>
    </div>
  </div>
  </body>
</center>
{% endblock%}
